:root {
  --margin: 50px;
  --max-width: 1200px;
  --border: 5px double black
}

body {
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

#root {
  width: 100%;
  max-width: var(--max-width);
  margin-top: 25px;
  height: 1000px;
  display: grid;
  grid-template: 125px 1fr / 1fr 3fr;
  color: black;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  border: 5px double black;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 48px;
    font-weight: bold;
  }
}

nav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
}

.content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border-right: var(--border);
  border-bottom: var(--border);
}

@media (max-width: var(--max-width)) {
  #root {
    width: 100%;
  }
}